# Enable URL rewriting
RewriteEngine On

# SEO-friendly URL rewrite rules
RewriteRule ^register-client/?$ create_client.php [L]
RewriteRule ^home/?$ index.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^test-connection/?$ test_connection.php [L]
RewriteRule ^validate-register-client/?$ validate_create_client.php [L]
RewriteRule ^validate-client-login/?$ validate_login_client.php [L]
RewriteRule ^client-login/?$ login_client.php [L]
RewriteRule ^client-welcome/?$ welcome_client.php [L]
RewriteRule ^client-logout/?$ logout_client.php [L]
RewriteRule ^client-update/?$ update_profile_client.php [L]
RewriteRule ^client-forgot-password/?$ forgot_password_client.php [L]
RewriteRule ^client-link-reset/?$ link_reset_password_client.php [L]
RewriteRule ^client-reset-password/?$ reset_client_password.php [L]
RewriteRule ^client-update-password/?$ update_password_client.php [L]
RewriteRule ^admin-login/?$ login_administrator.php [L]
RewriteRule ^admin-validate-login/?$ validate_login_admin.php [L]
RewriteRule ^admin-welcome/?$ welcome_admin.php [L]
RewriteRule ^admin-update/?$ update_profile_admin.php [L]
RewriteRule ^admin-logout/?$ logout_admin.php [L]
RewriteRule ^admin-manage-services/?$ manage_clients_service.php [L]