/* Titles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Texts*/
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

:root{
  --primary-color: #0077AA;
  --secondary-claro: #3BB4F4;
  --tertiary-color: #F1DF3A;
  --quaternary-color: #BDBDBD;
  --body-color: #F6F6F6;
  --black-color: #202022;
  --button_red-color: #ff4048;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Moderustic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: var(--black-color);
  background-color: var(--body-color);
  text-align: center;
}
.main_width{
  max-width: 100%;
  margin: auto;
  text-align: center;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /*border: 2px solid red;*/
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--body-color);
}

.area_left {
  /*border: 2px solid green;*/
}
.area_left figure {
  max-width: 60px;
  margin: 0;
}
.area_left figure img {
  width: 100%;
  height: auto;
  display: block;
}

.area_right{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  /*border: 2px solid purple;*/
}
.menu_nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.menu_nav ul li a
{
  text-decoration: none;
  color: var(--black-color);
  display: block;
  padding: 15px 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
}
nav ul li a:hover
{
    border-bottom: 2px solid var(--black-color);
    padding-bottom: 5px;
}
.menu_button{
  display: none; /* Hide menu button */
}


.slider_main {
  position: relative;
  width: 100%;
  height: 500px;
  text-align: center;
}
.splide__slide {
  width: 100%;
  height: 100%;
}
.splide__slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: bottom;
  cursor: pointer;
}
.text_on_slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: var(--body-color);
}

.main_title_container{
  background-color: var(--black-color);
  height: auto;
}
.main_title{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--body-color);
}

.section_1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  padding: 30px;
  border: 1px solid red;
}
.main_skill_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height: 350px;
  padding: 30px;
  box-sizing: border-box;
  background-color: var(--quaternary-color);
  border: 1px solid blue;
}
.skill_title{
  font-size: 23px;
  font-weight: 500;
}
.skill_info{
  font-size: 20px;
}
.skill_container_icon{
  font-size: 70px;
}
.button_see_more{
  display: inline-block;
  padding: 5px 25px;
  background-color: var(--button_red-color);
  text-decoration: none;
  color: var(--body-color);
  font-size: 20px;
}