@media screen and (max-width: 480px) {

    :root{
        --primary-color: #0077AA;
        --secondary-claro: #3BB4F4;
        --tertiary-color: #F1DF3A;
        --quaternary-color: #BDBDBD;
        --body-color: #F6F6F6;
        --black-color: #202022;
      }


    ul.tabs {
        flex-direction: column;
      }
      ul.tabs li {
        width: 100%;
      }

}