/* Titles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Texts*/
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

:root{
    --primary-color: #0077AA;
    --secondary-claro: #3BB4F4;
    --tertiary-color: #F1DF3A;
    --quaternary-color: #BDBDBD;
    --aditional_gray-color: #8a8a8a;
    --aditional_gray-color_high: #4b4b4b;
    --body-color: #F6F6F6;
    --black-color: #202022;
    --button_red-color: #ff4048;
    --button_red-color_high: #a1262c;
    --button_green-color: #00d660;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Moderustic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 23px;
  color: var(--black-color);
  background-color: var(--body-color);
  text-align: center;
}
.main_width{
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.main_container{
    background-color: var(--aditional_gray-color);

}


.tab_container{
    border: 1px solid var(--aditional_gray-color_high);
    border-top: none;
    overflow: hidden;
    width: 100%;
    background: #fff;
}
.tab_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
}
  .tab_content figure {
    margin: 0;
    padding: 0;
}
.tab_content figure img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.data_client {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    padding: 10px;
}
ul.tabs{
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul.tabs li{
    border: 1px #999 solid;
    background: var(--quaternary-color);
    width: 33.33%;
    text-align: center;
}
ul.tabs li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px 30px;
}
ul.tabs li a:hover{
    background: var(--aditional_gray-color_high);
    color: var(--body-color);
}
html ul.tabs li.active{
    background: var(--aditional_gray-color);
    font-weight: 500;
}
html ul.tabs li.active a:hover{
    background: var(--body-color);
    color: var(--black-color);
}
.logout_buttom{
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    min-width: 130px;
    background-color: var(--button_red-color_high);
    color: var(--body-color);
    transition: all 0.5s;
}
.logout_buttom:hover{
    color: var(--body-color);
    background-color: var(--button_red-color);
    font-weight: 600;
  }


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--black-color);
    color: var(--body-color);
    padding: 5px;
  }
  footer figure {
    max-width: 40px;
    margin: 0;
  }
  footer figure img {
    width: 100%;
    height: auto;
    display: block;
  }
  .text_footer{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
  }